.col-3,
.col-9,
.col-12 {
    border: 1px solid black;
    height: 100px;
    text-align: center;
    font-size: 4em;
}

.col-12 {
    max-width: 60%;
}

.col-3 {
    background: #16171C;
    color: white;
    max-width: 15%;
}

.col-9 {
    max-width: 45%;
}

#clear {
    background: #FF0000;
    color: #BBA900;
}

#answer {
    background: #0CA1CB;
    color: black;
}

#enter {
    background: #047604;
    color: white;
}

.col-3:hover,
.col-9:hover {
    filter: brightness(2);
}